extends master
block content
    form(action="/" method="POST" id="add-url")
         legend Add your url in the following form
         .campo  
            input(type="url" name="urloriginal" id="urlOriginal" placeholder="Add your URL" required)
         .campo.enviar
            input(type="submit" class="btn" value="Shorten")